@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.cabecalho{
    height: 115px;
    background-color: #3b3d40;;
}

.logo-cabecalho{
    height: 47px;
    margin-top: 33px;
    margin-left: 100px;
}

.palavras-cabecalho{
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #26282b
    
}

a {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #666d70;
    font-size: 23px;
}

a:hover{
    color: #f9a02c;
}

